/* Add border-box to all element */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

.m-t-md {
    margin-top: 30px;
}

.space-50 {
    height: 50px;
    display: block;
}
/***************************************/
/*nav css*/
.logo-container .logo {
    overflow: hidden;
    width: 50px;
    float: left;
}

/*double row*/
.navbar-doublerow > .navbar{
  display: block; 
  padding: 0px auto;
  margin: 0px auto;
  min-height: 25px;
}
.navbar-doublerow .nav{
  padding: 0px auto;
}
.navbar-doublerow .dividline{
  margin: 5px 100px;
  padding-top: 1px;
  background-color: inherit;
}
/*top nav*/
.navbar-doublerow .navbar-top ul>li>a {
  padding: 10px auto;
  font-size: 12px;
} 
/*down nav*/
.navbar-doublerow .navbar-down .navbar-brand {
  padding: 0px auto;
  float: left;
  color: #fff;
  font-size: 18px;
}
.navbar-doublerow .navbar-down ul>li>a{
  font-size: 14px;
  color: #fff;
  transition: border-bottom .2s ease-in , transform .2s ease-in-out;
}
.navbar-doublerow .navbar-down ul>li>a:hover{
  border-bottom: 1px solid #fff;
  color: #fff;
}
.navbar-doublerow .navbar-down .dropdown{
    padding: 5px;
    color: #000;
}
.navbar-doublerow .navbar-down .dropdown ul>li>a,
.navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
  color: #000;
  border-bottom: none;
}
.navbar-doublerow.navbar-trans.afterscroll {
} 
.navbar-doublerow.navbar-trans.afterscroll {
   top:-50px;
} 

.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
}
/*text*/
.text-white,.text-white-hover:hover{color:#fff!important}
/*fontcolor*/
.light-grey {color:#000!important;background-color:#E6E9ED!important}

.navbar-brand>img{
  width: 28%;
  height: auto;
}

.navbar.navbar-transparent{
  padding-top: 0;
}


.logo-container .logo img {
	width: 100%;
	height: auto;
}
/**/

/* carousel full width*/
#carousel-full .carousel-inner>.item>img{
	width: 100%;
	height: auto;
}

#carousel-mini .carousel .carousel-indicators {
  bottom: -50px;
}

#carousel-mini .carousel .carousel-indicators li {
  background: #9c27b0;
}
/**/

/*Gallery section*/
.hide_content{
  display: none;
}

.text-db a {
  position: absolute;
  top: 116%;
  right: 40%;
}

.box a{
  position:relative;
  overflow:hidden;
  display:block;
}
.box img {
  width: 100%;
  height: auto;
}
.hovered{
  position:absolute;
  top:0;
  left: 0;
  height: 100%;
        background: rgba(156, 39, 176, 0.70);
        color:white;
        width: 100%;
  padding: 46px 20px 20px 20px;
        border-bottom: 2px solid rgba(236, 1, 93, 0.80);
        opacity: 0;
        animation-name: fadeFromtop;
        -webkit-animation-name: fadeFromtop;
        animation-duration: 600ms;
        -webkit-animation-duration: 600ms;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
}
.hovered h3 {
  font-size: 13px;
}
.box a:hover .hovered{
  animation-name: fadeFromBottom;
        -webkit-animation-name: fadeFromBottom;
        animation-duration: 600ms;
        -webkit-animation-duration: 600ms;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
}

/* video section */
blockquote {
    position: relative;
    width: 70%;
    left: 140%;
    bottom: 28vh;
}

/*footer*/
.div-link {
  display: inline-block;
}


@keyframes fadeFromBottom  {
        0%{
            opacity:0;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }
        100%{
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
            display: block;
        }
    }
@keyframes fadeFromtop  {
    0%{
        opacity:1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(400%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
  }
  .gallery {
    display: none;
  }
  blockquote {
    position: static;
    width: 100%;
    left: 0;
    bottom: 0;
}

}

